<template>
  <footer>
    <p>© Yeray Espinosa Cuevas, César Castellano, Haimar Arregui - <a href="http://www.peñascalf5.org/">Peñascal F5</a>.</p>
  </footer>
</template>

<script>
export default {
    name: 'Footer'
}
</script>

<style scoped>
  footer {
    background-color: maroon;
    color: coral;
    text-align: left;
    padding: 3rem;
    padding-left: 1rem;
    font-size: 1rem;
  }

  footer a {
    text-decoration: none;
    color: coral;
    cursor: default;
  }
</style>