<template>
  <div class="header">
    <img alt="logo" src="@/assets/logo.png" class="logo" @click="changeScreen">
  </div>
</template>

<script>
export default {
  name: 'Header',
  props: {
    msg: String
  },
  methods: {
    changeScreen() {
      this.$emit("changeScreen", 'start');
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.logo {
  width: 150px;
}

.header {
  margin-bottom: 2rem;
}
</style>
