<template>
  <div class="optionlist">
    <ul>
      <li><a href="#" id="types" @click="sendSelection('types')">Types</a></li>
      <li><a href="#" id="regions" @click="sendSelection('regions')">Regions</a></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'OptionList',
    data() {
      return {
        selection: null
      }
    },
    methods: {
      sendSelection(selectedItem) {
        this.selection = selectedItem;
        this.$emit("sendSelection", this.selection);
      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  li {
    padding: 1rem;
  }

  ul {
    padding-bottom: 2rem;
  }
</style>
