<template>
  <select name="place" id="list_places">
    <option
      value=""
      v-for="(item, index) in listPlaces"
      :key="index"
      @click="onClickOptionItem"
      >{{ item.name }}</option
    >
  </select>
</template>
// En este componente se crea lista con nombre lugares
<script>

export default {
  name: "PlacesList",
  props: {
    listPlaces: { propType: Array, required: true }
  },
  methods: {
    onClickOptionItem() {
      this.$emit("click", this.task);
      console.log("has clickado prefestamenete");
    }
  }
};
</script>

<style scoped></style>
