<template>
  <select name="pokemons_list" id="list_pokemons_by_places">
    <option
      value=""
      v-for="(item, index) in listPokemons"
      :key="index"
      @click="onClickOptionItem"
      >{{ item.name }}</option
    >
  </select>
</template>
// En este componente se crea lista con nombres de Pokemos por lugares elegidos
<script>


export default {
  name: "PokemonsList",
  props: {
    listPokemonsByPlace: { propType: Array, required: true }
  },
  methods: {
    onClickOptionItem() {
      this.$emit("click", this.task);
      console.log("has clickado prefestamenete");
    }
  }
};
</script>

<style scoped></style>
