<template>
  <select name="region" id="lista_regiones">
    <option
      value=""
      v-for="(region, index) in listRegions"
      :key="index"
      @click="onClickOptionRegion"
      >{{ region.name }}</option
    >
  </select>
</template>

<script>
//crea lista con nombre regiones
export default {
  name: "RegionList",
  props: {
    listRegions: { propType: Array, required: true }
  },
  methods: {
    onClickOptionRegion() {
      this.$emit("click", this.task);
      console.log("has clickado prefestamenete");
    }
  }
};
</script>

<style scoped></style>
