<template>
  <div class="search">
    <input type="text" id="textboxSearch" placeholder="Búsqueda." v-model="searchItem" @keyup.enter="search" required/>
    <button @click="search">Buscar</button>
  </div>
</template>

<script>
export default {
  name: 'Search',
    props: {
        // return {
        searchItem: String
      //}
    },
    methods: {
      search() {
        this.$emit("search", this.searchItem);
        this.searchItem = null;
      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .search input {
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: 1.5rem;
        border: 2px solid black;
  }

  .required {
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: 1.5rem;
        border: 2px solid red;
  }

  .required ::placeholder {
    color: red;
  }

  .search button {
      padding: 0.5rem;
      font-size: 1.5rem;
      width: 200px;
      background-color: coral;
      border: none;
      cursor: pointer;
  }
</style>
