<template>
  <div id="app">
    <Header @sendSelection="changeScreen" />
    <Search @search="generateSearchInfo" />
    <OptionList @sendSelection="changeScreen" v-if="screen === 'start'"/>
    <RegionList v-if="screen === 'regions'" :listRegions="listOfRegions"/>
    <PlacesList v-if="screen === 'places'" />
    <Footer />
  </div>
</template>

<script>
import Header from './components/Header.vue';
import Search from './components/Search.vue';
import OptionList from './components/OptionList.vue';
import RegionList from "./components/RegionList.vue";
import PlacesList from "./components/PlacesList.vue";
//import PokemonsList from "./components/PokemonsList.vue";
import Footer from "./components/Footer.vue";

export default {
  name: "app",
  components: {
    Header,
    Search,
    OptionList,
    RegionList,
    PlacesList,
    //PokemonsList,
    Footer
  },

  data() {
    return {
      baseUrlByPokemon: "https://pokeapi.co/api/v2/pokemon/",
      url: "",
      searchItem: "",
      search: false,
      baseUrlByRegion: "https://pokeapi.co/api/v2/region/",
      baseUrlByPlaces:"https://pokeapi.co/api/v2/location/",
      baseUrlByType:"https://pokeapi.co/api/v2/type/",
      listOfRegions: [],
      listOfPlaces:[],
      data: [],
      screen: "start"
    }
  },
  methods: {
    changeScreen(selection) {
      this.screen=selection;
    },
    async generateSearchInfo(searchItem){
      this.searchItem = searchItem.toLowerCase();
      this.generateURLbyPokemon();
      if(!this.search) {
        console.log("No era un pokémon, seguimos con región.")
        this.generateURLbyRegion();
        if(!this.search) {
          console.log("No era una región, seguimos con location.")
          this.generateURLbyLocation();
          if(!this.search) {
            console.log("No era una región, seguimos con tipo.")
            this.generateURLbyType();
          }
        }
      }
      await this.callAPI();
    },
    generateURLbyPokemon() {
      this.url = this.baseUrlByPokemon + this.searchItem;
    },
    generateURLbyRegion() {
      this.baseUrlByRegion = this.baseUrlByRegion + this.searchItem;
      this.apiConectionByRegion();
    },
    generateURLbyLocation() {
      this.baseUrlByLocation = this.baseUrlByLocation + this.searchItem;
      this.apiConnectionByPlaces();
    },
    generateURLbyType() {
      this.baseUrlByType = this.baseUrlByType + this.searchItem;
    },
    async callAPI() {
        console.log("URL: ", this.url);
      try {
        const result = await fetch(this.url);
        this.data = await result.json();
        this.search = true;
      } catch {
        console.log("Error, no es una búsqueda válida.");
        this.search = false;
      }
      console.log("Nombre pokémon: ", this.data.name)
      console.log("Altura pokémon: ", this.data.height)
      console.log("Peso pokémon: ", this.data.weight)
      var type = this.data.types[0].type.name;
      if(this.data.types[1] !== undefined) {
        type = type + ", " + this.data.types[1].type.name;
      }
      console.log("Tipo pokémon: " + type);
      console.log("search termina en " + this.search);
    },
    async apiConectionByRegion() {
      const result = await fetch(this.baseUrlByRegion);
      //devuelve json con objetos de dos propiedades: name y url(la url dirige a otra llamada de api)
      this.data = await result.json();
      console.log(this.data);
      this.listOfRegions = this.data.name;
    },
    async apiConnectionByPlaces() {
      const result = await fetch(this.baseUrlByPlaces);
      //devuelve json con objetos de dos propiedades: name y url(la url dirige a otra llamada de api)
      this.data = await result.json();
      //console.log(this.data);
      this.listOfPlaces = this.data.name;
    },
    generateURL(itemToSearch) {
      console.log("Item: " + itemToSearch);
      var url = this.baseUrlByPokemon + itemToSearch;
      console.log("Url: " + url);
    }
  }
};
</script>

<style>
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: azure;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
ul {
  list-style-type: none;
}

ul a {
  text-decoration: none;
  font-weight: bold;
  font-size: 4rem;
  color: maroon;
}

li:nth-child(even) a {
  color: coral;
}
</style>
